*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: none;
    overflow: hidden;
    background-color: #212529;
    background-color: #212529;

}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Image_Source/Mt.Fuji.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.9);
    z-index: -1;    
}

.container {
    width: 420px;
    border: 2px solid rgba(172, 166, 166, 0.2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(9px);
    color: white;
    border-radius: 15px;
    padding: 30px 40px;
    transition: box-shadow 0.3s;

}

.container:hover {
    box-shadow: 0 0 12px rgba(177, 144, 1, 0.5); /* Add shadow when hovering */
}

.container h1 {
    font-size: 36px;
    text-align: center;

}

.input-box {
   width: 100%;
   display: flex;
   justify-content: space-between;
   position: relative;
   border-bottom: 3px solid rgb(235, 202, 95);
   margin: 50px 0;
   padding: 0 4px 10px 4px;

}

.input-box input {
    position: absolute;
    width: 85%;
    height: 80%;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;

}

.input-box label {
    transition: .3s;
    font-size: 17px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    transform: translateY(-27px);
}


.input-box input:hover {
    border-width: 5px;
    transition: 0.15s ease-in-out;
    
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.container .forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    justify-content: center;

}

.forgot a {
    color: #fff;
    text-decoration: none;
}

.forgot a:hover {
    color: rgb(235, 202, 95);
    transition: .4s color;
    text-decoration: underline;

}

.container .submit-btn {
    width: 100%;
    height: 45px;
    background: #d8cdcd;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

.container .submit-btn:hover{
    background-color: rgb(235, 202, 95);
    /* opacity: 0.4; */
    transition: 0.3s ease-in-out;
    color: white;   
}

.container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    color: rgb(235, 202, 95);
    transition: .4s color;
    text-decoration: underline;

}

